
.hama{
    display: flex;
    justify-content: space-around;
    text-align: center;
} 
 .hamza{
    display: flex;
    justify-content: space-around;
} 

 .hunn{
    
    text-align: center; 

}

.fddd{
    display: flex;
    justify-content: space-around;
    text-align: center;
}